{{ define "main" }}

	{{- partial "nav.html" . -}}

	<div class="d-md-flex h-vh-100 align-items-center mainWrapper">

		<div class="col-6 p-0 h-vh-100">
			<div class="p-3">
				<div class="card aspect169 align-items-center justify-content-center bg-light">
					<div class="align-items-center box-content d-flex justify-content-center">
						screen
					</div>
				</div>
			</div>
			<div class="h-50">
				<div class="d-flex flex-row flex-wrap h-100 pb-3">
					<!-- audience -->
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 text-center align-items-center justify-content-center">Audience Member</div>
				</div>
			</div>
		</div>
		<div class="col-6 py-3 pr-0 h-vh-100">
			<div class="card flex-row flex-wrap h-100 align-items-center justify-content-center bg-dark">
				<div class="d-flex flex-wrap w-100">
					<div class="col-6 mb-2 align-items-center justify-content-center">
						<div class="card text-center aspect43">
							<div class="align-items-center box-content d-flex justify-content-center">
								Table Member 1
							</div>
						</div>
					</div>
					<div class="col-6 mb-2 align-items-center justify-content-center">
						<div class="card text-center aspect43">
							<div class="align-items-center box-content d-flex justify-content-center">
								Table Member 2
							</div>
						</div>
					</div>
					<div class="col-6 mb-2 align-items-center justify-content-center">
						<div class="card text-center aspect43">
							<div class="align-items-center box-content d-flex justify-content-center">
								Table Member 3
							</div>
						</div>
					</div>
					<div class="col-6 mb-2 align-items-center justify-content-center">
						<div class="card text-center aspect43">
							<div class="align-items-center box-content d-flex justify-content-center">
								Table Member 1
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{{ end }}