{{ define "main" }}
	<nav role='navigation'>
	  <ul>    
	    <li><a href="#"><i class="fa fa-home fa-fw"></i> <span>Home</span></a></li>
	    <li><a href="#"><i class="fa fa-microphone fa-fw"></i> <span>Microphone</span></a></li>
	    <li><a href="#"><i class="fa fa-video-camera fa-fw"></i> <span>Video</span></a></li>
	    <li><a href="#"><i class="fa fa-comment fa-fw"></i> <span>Chat</span></a></li>
	  </ul>
	</nav>

	<div class="d-md-flex h-vh-100 align-items-center mainWrapper">

		<!-- First Half -->
		<div class="col-6 p-0 h-vh-100">
			<div class="h-50 p-3">
				<div class="card h-100 align-items-center justify-content-center bg-light">
					screen
				</div>
			</div>
			<div class="h-50">
				<div class="card h-100 flex-row flex-wrap">
					<!-- audience -->
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
					<div class="card col-2 p-3 text-center align-items-center justify-content-center">Audience Member</div>
				</div>
			</div>
		</div>
		<div class="col-6 p-3 h-vh-100">
			<div class="card flex-row flex-wrap h-100  justify-content-center bg-dark">
				<div class="card col-6 m-2 align-items-center justify-content-center">Table Member 1</div>
				<div class="card col-6 m-2 align-items-center justify-content-center">Table Member 2</div>
				<div class="card col-6 m-2 align-items-center justify-content-center">Table Member 3</div>
				<div class="card col-6 m-2 align-items-center justify-content-center">Table Member 4</div>
			</div>
		</div>
	</div>
{{ end }}