<head>

	<title>{{ $.Params.title }} - Airmeet</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- CSS-->
	{{ if .Site.IsServer }}
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
	<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
	{{ else }}
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
	{{ end }}
</head>