<nav role='navigation'>
	<div class="toggle-nav bg-secondary py-2">
		<i class="fa fa-bars fa-fw"></i>
		<i class="fa fa-times fa-fw"></i>
	</div>
  <ul>    
    <li><a href="#"><i class="fa fa-home fa-fw"></i> <span>Home</span></a></li>
    <li><a href="#"><i class="fa fa-microphone fa-fw"></i> <span>Microphone</span></a></li>
    <li><a href="#"><i class="fa fa-video-camera fa-fw"></i> <span>Video</span></a></li>
    <li><a href="#"><i class="fa fa-comment fa-fw"></i> <span>Chat</span></a></li>
  </ul>
</nav>